# Python
__pycache__/
*.pyc

# pdb data
/data/

# ml result
/log*/

# feat result
/features/

# model weights
/model/
*.pt
*.pth

# test
/test/
/code/test.py
/loss_test2.txt
/test1.txt
/code/visualization.py
